MESH_NODE_ID="!1234" # This is the nodeID of YOUR NODE. Starts with an '!'
MESH_PRESET="LongFast" # Default is LongFast

MQTT_ROOT_TOPIC="msh" # "msh" is default
MQTT_REGION="US"
MQTT_INT="2" # Part of the topic path after region, change if needed
MQTT_HOST="mosquitto"
MQTT_PORT=1883
MQTT_USER="mesh" # Username to authenticate to MQTT broker
MQTT_PASS="meshtastic" # Password to authenticate to MQTT broker

MONGO_DB="mesh" # Name of database to use

MONGO_EX_PORT=8181 # Port to access mongo-express

DATABASE_URL="mongodb://mongo:27017/${MONGO_DB}"
